      /* Style to fix form at the bottom of the page */
      .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 540px;
        padding: 20px;
        /* background-color: #f5f5f5; */
      }
  
      /* Style to make messages list scrollable */
      #messages-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 200px);
      }
  
      #messages-list {
        overflow-x: hidden;
        overflow-y: auto;
        flex: 1;
      }
      .container {
        width: 540px;
      }
      .query {
        width: 480px;
        word-wrap: break-word;
        margin-right: auto;
        margin-bottom: 10px;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 5px;
      }
      .response {
        width: 480px;
        word-wrap: break-word;
        margin-left: auto;
        margin-bottom: 10px;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: lightgray;
        padding: 5px;
      }
      #spinner {
        display: none;
      }
